/* Setup and stripping styles ----------------------- */
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    color: #3a3a3a;
}

h1,
h2,
p,
ul,
form {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

button {
  line-height: 0px;
}

img {
    width: 100%;
    display: block;
    height: auto;
}

.wrapper {
  width: 90%;
  max-width: 1250px;
  margin: 0 auto;
}

/* Background styles ----------------------- */
header {
  background: #ffb2ad;
}

main {
  background: #fec9c5;
}

footer {
  background-color: #fcb58f;
  padding: 20px 0;
}

/* Heading styles ----------------------- */
h1 {
  font-family: alba, sans-serif;
  text-align: center;
  color: #ffd900;
  font-size: clamp(4rem, 7vw, 10rem);
  text-shadow: 12px 12px #df6347, 10px 10px #df6347, 8px 8px #df6347, 6px 6px #df6347, 4px 4px #df6347, 2px 2px #df6347;
}

.slanted {
  display: inline-block;
  transform: rotate(-5deg) 
  skew(-10deg);
}

/* Text and link styles ----------------------- */
p {
  letter-spacing: 1px;
  line-height: 20px;
}

p.conf {
  color: #ff481f;
}

p.conf span {
  font-size: 2.0rem;
  color: #ff481f;
}

footer p {
  text-align: center; 
}

a {
  color: #EA593E;
  border-bottom: 2px solid transparent;
}

a:hover,
a:focus {
  border-bottom: 2px solid #EA593E;
} 

/* Form input styles ----------------------- */
label {
  font-size: 2rem;
  font-weight: 500;
  color: #df6347;
  margin-bottom: 20px;
}

input::placeholder {
  letter-spacing: 1.5px;
  color: #9a9a9a;
}

input {
  padding: 10px;
  width: 350px;
  background: #fec9c5;
  border: none;
  border-bottom: 2px solid #df6347;
}

/* Button styles ----------------------- */
.nameButton {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  border: 2px transparent solid;
  border-radius: 10px;
  padding: 20px 15px;
  background: #df6347;
  color: #fafafa;
}

.nameButton:hover,
.nameButton:focus {
  color: #ffd900;
}

.searchImageButton,
.selectImageButton,
.finalizeButton {
    border: none;
    background: none;
    align-self: center;
}

.searchImageButton span,
.finalizeImageButton span {
  font-size: 3rem;
}

.selectImageButton span {
  font-size: 1.8rem;
}

span .fa-stack-2x {
    color: #df6347;
}

span .fa-stack-1x {
    color: #fafafa;
}

span .fa-stack-1x:hover,
span .fa-stack-1x:focus {
    color: #ffd900;
}

.resetButton {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  border: 2px transparent solid;
  border-radius: 10px;
  padding: 20px 8px;
  background: #f59c88;
  color: #fafafa;
}

.resetButton:hover,
.resetButton:focus {
  color: #fce45c;
}

/* Swal styles ----------------------- */
.swal2-title {
    font-size: 2rem;
    font-weight: 500px;
}

.swal2-content {
  font-size: 1.6rem;
}

.swal-button {
  background: yellow;
}

button.swal2-styled {
    letter-spacing: 1px;
    font-weight: 500;
    background-color: #e87e75;
    padding: 15px 20px;    
}

/* Header positioning ----------------------- */
header {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Main positioning ----------------------- */
main {
  height: 100%;
  background: #fec9c5;
}

section {
  padding: 75px 0;
}

.formInputs {
  display: flex;
  flex-direction: column;
}

.bandForm {
  margin-bottom: 50px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center
}

p.conf {
  text-align: center;
  padding-bottom: 25px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  margin-right: 75px;
}

.resetButton {
  margin: 30px auto;
}

.imagesContainer {
  margin-top: 50px;
}

.imagesContainer ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.imagesContainer ul li {
  margin: 0 auto;
  padding: 15px 0;
  position: relative;
}

.imagesContainer img {
  height: 350px;
  width: 350px;
  object-fit: cover;
}

.imagesContainer button {
  position: absolute;
  top: -5px;
  right: 5px;
}

.finalConf {
  display: flex;
  flex-direction: column;
}

.finalizeButton {
  align-items: center;
}