/* Setup ----------------------- */
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* Stripping ----------------------- */
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    color: #3a3a3a;
}

h1,
h2,
p,
ul,
form {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

img {
    width: 100%;
    display: block;
    height: auto;
}

button {
  line-height: normal;
}

*:focus {
    outline: none;
}

.wrapper {
  width: 90%;
  max-width: 1250px;
  margin: 0 auto;
}

/* Styling ----------------------- */
/* Background  ------- */
header {
  background: #ffb2ad;
}

main {
  background: #fec9c5;
}

footer {
  background-color: #ffa574;
  padding: 20px 0;
}

/* Headings ------- */
h1 {
  font-family: alba, sans-serif;
  letter-spacing: 1px;
  text-align: center;
  color: #ffd900;
  font-size: clamp(5rem, 6vw, 8rem);
  text-shadow: 
  12px 12px #df6347, 
  10px 10px #df6347, 
  8px 8px #df6347, 
  6px 6px #df6347, 
  4px 4px #df6347, 
  2px 2px #df6347;
}

.slanted {
  display: inline-block;
  transform: rotate(-5deg) 
  skew(-10deg);
}

h2 {
  font-size: clamp(3.5rem, 1.5vw, 4rem);
  letter-spacing: 0.5px;
  color: #ffe2e0;;
  margin-top: 70px;
  text-align: center;
}

h3 {
  font-size: clamp(2.5rem, 1vw, 4rem);
  font-weight: 700;
  text-align: center;
  color: #d66c55;
}


/* Text and links ------- */
p {
  letter-spacing: 1px;
  line-height: 30px;
}

.bandFormContainer p,
.imageFormContainer p {
  font-size: 1.6rem;
  font-weight: 500;
  color: #e9846d;
  text-align: center;
}

footer p {
  color: #ffe1d3;
  font-weight: 700;
  text-align: center;
  line-height: 22px; 
}

a {
  color: #EA593E;
  border-bottom: 2px solid transparent;
}

a:hover,
a:focus {
  border-bottom: 2px solid #EA593E;
  cursor: pointer;
}

.footerSocial a {
  margin: 10px 10px 0 0;
  color:  #ffde4b;
}

.footerSocial a:hover,
.footerSocial a:focus {
  border-bottom: 2px solid #ffde4b;
  cursor: pointer;
}

/* Form inputs ------- */
input {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #ff661f;
  padding: 15px;
  width: 350px;
  background: #fec9c5;
  border: none;
  border-bottom: 2px solid #df6347;
}

input::placeholder {
  font-size: 2.5rem;
  letter-spacing: 1px;
  color: #ee9999;
}

/* Buttons ------- */
.nameButton,
.searchImageButton,
.resetButton {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  border: 2px transparent solid;
  border-radius: 10px;
  padding: 10px 15px;
  background: #df6347;
  color: #fafafa;
}

.resetButton {
  color: #fafafa;
}

.nameButton:hover,
.nameButton:focus,
.searchImageButton:hover,
.searchImageButton:focus {
  filter: brightness(85%);
  cursor: pointer;
}

.resetButton {
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 8px 8px;
  background: #f59c88;
}

.resetButton:hover,
.resetButton:focus {
  filter: brightness(85%);
  cursor: pointer;
}

.selectImageButton,
.finalizeButton,
.removeButton {
    border: none;
    background: none;
    align-self: center;
}

.finalizeImageButton span {
  font-size: 3rem;
}

.selectImageButton span,
.removeButton span {
  font-size: 1.8rem;
}

span .fa-stack-2x {
    color: #f3b238;
}

span .fa-stack-1x {
    color: #fafafa;
}

span .fa-stack-1x:hover,
span .fa-stack-1x:focus {
    color: #df6347;
    cursor: pointer;
}

/* Modals ------- */
.swal2-title {
    font-size: 2rem;
    font-weight: 500px;
}

.swal2-content {
  font-size: 1.6rem;
}

.swal2-actions .swal2-confirm {
    font-size: 1.6rem;
    border-radius: 5px;
    letter-spacing: 1px;
    font-weight: 500;
    background-color: #e7a8a2;
    padding: 10px 15px;    
}

.swal2-actions .swal2-confirm:hover,
.swal2-actions .swal2-confirm:hover {
  cursor: pointer;
}


.swal2-actions .swal2-cancel {
    font-size: 1.6rem;
    letter-spacing: 1px;
    font-weight: 500;
    background-color: #e87e75;
    padding: 10px 15px;  
}

.swal2-actions .swal2-cancel:hover,
.swal2-actions .swal2-cancel:focus {
  cursor: pointer;
}

/* Positioning ----------------------- */
/* Header  ------- */
header {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Main  ------- */
main {
  height: 100%;
  position: relative;
}

/* Reset button  ------- */
.resetContainer {
  position: -webkit-sticky; 
  position: sticky; 
  top: 0;
  z-index: 100;
}

.resetButton {
  position: sticky;
  margin:  20px 0 0 20px;
}

.vinylInput {
  padding: 50px 0;
}

/* Forms  ------- */
.bandForm,
.imageForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

input {
  margin-right: 25px;
}

.bandFormContainer,
.imageFormContainer {
  display: flex;
  flex-direction: column;
}

.bandFormContainer p,
.imageFormContainer p {
  padding-top: 20px;
  margin-bottom: 0;
}

.nameButton {
  margin-bottom: 50px;
}

.stepTwo p {
  text-align: center;
}

.stepThree p {
  margin: 40px 0;
}

/* Image results  ------- */
.imagesContainer {
  margin-top: 50px;
}

.imagesContainer ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.imagesContainer ul li {
  margin: 0 auto;
  padding: 15px 0;
  position: relative;
}

.imagesContainer img {
  height: 350px;
  width: 350px;
  object-fit: cover;
}

.imagesContainer button {
  position: absolute;
  top: -5px;
  right: 5px;
}

/* Staging area  ------- */
.stepThree {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Vinyl record ------- */
.vinylOutput {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.vinylRecord {
  position: relative;
  margin:  0 150px 40px 0;
}

.vinylRecord p {
  line-height: 100%;
  font-family: 'alba', sans-serif;
  font-size: 2.5rem;
  color: #fafafa;
  text-shadow: 
  1px 1px 10px #ffadad, 
  1px 1px 10px #ffadad;
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 30;
}

img.vinylCover {
  height: 250px;
  width: 250px;
  object-fit: cover;
  position: relative;
  z-index: 20;
}


img.vinylLabel {
  height: 65px;
  width: 65px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  z-index: 30;
}

img.vinylRecord {
  height: 225px;
  width: 225px;
  position: absolute;
  bottom: -30px;
  right: -255px;
  z-index: 10;
}

.removeButton {
  position: absolute;
  top: -20px;
  right: -25px;
  z-index: 30;
}

/* Media Queries ----------------------- */
/* Small desktop / Large tablet  ------- */
@media (max-width: 850px) {

  h1 {
    text-shadow: 
    10px 10px #df6347, 
    8px 8px #df6347, 
    6px 6px #df6347, 
    4px 4px #df6347, 
    2px 2px #df6347;
  }

}

/* Small tablet  ------- */
@media (max-width: 532px) {

  .bandForm,
  .imageForm {
    flex-direction: column;
    align-items: center;
  }

  input {
    margin-right: 0px;
  }

  h1 {
    text-shadow: 
    8px 8px #df6347, 
    6px 6px #df6347, 
    4px 4px #df6347, 
    2px 2px #df6347;
  }

  .nameButton,
  .searchImageButton {
    margin-top: 30px;
  }

}

/* Mobile, break 1  ------- */
@media (max-width: 460px) {

  .vinylRecord {
    margin:  0 80px 40px 0;
  }

  img.vinylCover {
    height: 200px;
    width: 200px;
    object-fit: cover;
  }

  .vinylRecord p {
    font-size: 2rem;
    top: 10px;
    left: 10px;
  }

  img.vinylLabel {
    height: 50px;
    width: 50px;
    bottom: 10px;
    right: 10px;
  }

  img.vinylRecord {
    height: 180px;
    width: 180px;
    bottom: -30px;
    right: -165px;
  } 

}

/* Mobile, break 2  ------- */
@media (max-width: 420px) {
  
  input {
    width: 275px;
  }

  .imagesContainer img {
    height: 275px;
    width: 275px;
    object-fit: cover;
  }

}