body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Import local fonts */
/* Alba */
@font-face {
  font-family: 'alba';
  src: local('alba'), url(./fonts/alba.TTF) format('truetype');}

/* Market deco */
@font-face {
  font-family: 'marketDeco';
  src: local('marketDeco'), url(./fonts/marketDeco.ttf) format('truetype');}



